@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Timmana&display=swap');

:root {
  --background: #FCFDFD;
  --foreground: #FCFDFD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #437D8E;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.public-sans {
  font-family: "Public Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.timmana {
  font-family: "Timmana", sans-serif;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Public Sans", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
